  name: Java CI

  on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]

  jobs:
    build:
      runs-on: ubuntu-latest
      env:
        ASPECTJ_VERSION: 1.9.21
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup JDK 17 and cache Maven
          uses: actions/setup-java@v4
          with:
            distribution: temurin
            java-version: '17'
            cache: 'maven'

        - name: Install system packages and Maven
          run: |
            sudo apt-get update
            sudo apt-get install -y maven libnss3 libatk1.0-0 libatk-bridge2.0-0 libx11-xcb1 libxcomposite1 libxdamage1 libxrandr2 libgbm1 libasound2 libpangocairo-1.0-0 libxss1 fonts-liberation libgtk-3-0

        - name: Build & Install Dependencies
          run: mvn -B install -DskipTests --no-transfer-progress

        - name: Install Playwright Browsers
          run: mvn exec:java -Dexec.mainClass=com.microsoft.playwright.CLI -Dexec.args="install --with-deps"

        - name: Ensure AspectJ is downloaded
          run: mvn -B dependency:get -Dartifact=org.aspectj:aspectjweaver:${ASPECTJ_VERSION}

        - name: Set MAVEN_OPTS to use AspectJ javaagent
          run: |
            echo "MAVEN_OPTS=-javaagent:$HOME/.m2/repository/org/aspectj/aspectjweaver/${ASPECTJ_VERSION}/aspectjweaver-${ASPECTJ_VERSION}.jar" >> $GITHUB_ENV

        - name: Build and run tests
          run: mvn -B -U -DskipTests=false clean verify -Dheadless=true -Denv=DEV
